<template>
  <div class="flex pt-4 pr-4">
    <div class="flex-none mr-4">
          <input type="checkbox" class="rounded-full w-8 h-8 border-gray-300 text-indigo-600 shadow-sm focus:border-indigo-300 focus:ring focus:ring-offset-0 focus:ring-indigo-200 focus:ring-opacity-50" :checked="completed" @input="toggleComplete">

      <!-- <tick-box :checked="task.completed_at !== null" @input="toggleComplete"></tick-box> -->
    </div>    
    <span class="flex-grow">{{ task.title }}</span>
  </div>
</template>

<script>
import TickBox from "./TickBox";
export default {
  props: {
    task:{
      type:Object,
      required:true
    }
  },
  emits: ['update:task'],
   components: {
    TickBox,
  },
  computed:{
    completed() {
      return this.task.completed_at !== null;
    }
  },
  methods:{
    toggleComplete() {
      if(!this.completed) {
        this.completeTask();
      }
      else {
        this.uncompleteTask();
      }
    },

    completeTask() {
      axios.post('/api/tasks/' + this.task.id + '/complete').then(this.updateTask);
    },

    uncompleteTask() {
      axios.post('/api/tasks/' + this.task.id + '/complete').then(this.updateTask);
    },

    updateTask(response) {
       this.$emit('update:task', response.data);
    }
  }
};
</script>