<template>
  <div class="space-y-4 divide-y divide-gray-200">
      <task v-for="(task,index) in incompleteTasks" :key="task.id" :task="task" @update:task="updateTask($event)" ></task>
      <p v-if="incompleteTasks.length == 0">All tasks complete!</p>
  </div>
</template>
<script>
import Task from "./Task";
export default {
  data() {
    return {
      tasks: [],
    };
  },
  components: {
    Task,
  },
  computed:{
    incompleteTasks() { //here because right now, list doesn't reget after a completion, we just lazily hide.
      return this.tasks.filter(task => {
        return task.completed_at === null;
      });
    },

    completeTasks() {
      return this.tasks.filter(task => {
        return task.completed_at !== null;
      });
    }
  },
  created() {
    this.loadTasks();
  },
  mounted() {
    this.emitter.on('create-task', this.loadTasks);
  },
  methods:{
    loadTasks() {
      axios.get('/api/users/1/incomplete-tasks').then(this.tasksLoaded);
    },
    tasksLoaded(response) {
      this.tasks = response.data;
    },

    updateTask(task) {
      const foundIndex = this.tasks.findIndex(t => t.id === task.id);
      if(foundIndex >= 0) {
        this.tasks[foundIndex] = task;
      }
    }
  }
};
</script>