<template>
<div class="rounded-full border-gray-200 border" :class="{ 'text-gray-600': checked, 'text-white': !checked }">
    <svg class="h-8 w-8 p-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" @click="$emit('input')">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
    </svg>
</div>
</template>
<script>
export default {
    props:{
        checked:{
            type:Boolean,
            default:false
        }
    }
}
</script>